.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
  overflow: hidden;
}

.drawer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  right: 0;
  height: 100%;
  position: absolute;
  width: 420px;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  h2 {
    margin: 0;
  }
}

.overlayVisible {
  visibility: visible;
  opacity: 1;
  .drawer {
    transform: translateX(0);
  }
}
